<!--该xml文件用来定义app应用信息、作者、版本,使用时重命名后缀为.xml-->
<app>
    <name>VMCConnect</name>
    <description>VMCConnect服务</description>
    <author>
        <name>辰商软件</name>
        <email>dev@vmcshop.com</email>
        <url>http://www.vmcshop.com</url>
    </author>
    <version>1.0</version>
    <license>http://www.vmcshop.com/license</license>
    <depends>
        <app>desktop</app>
    </depends>
</app>