<{if $data_list.activity}>
<div class="content">
    <{if $data_list.cpns_list}>
    <ul class="table-view">
    <{foreach from=$data_list.cpns_list item=c}>
        <li class="table-view-cell">
            <h5><{$c.cpns_name}></h5>
            <p><{$c.description}></p>
            <{if $c.is_buy=='true'}>
            <button class="btn btn-primary coupons-achieve"  data-url="a/<{$data_list.activity.activity_id}>/c/<{$c.cpns_id}>/k/<{$c.cpns_key}>">领取</button>
            <{else}>
            <button class="btn btn-default">已领完</button>
            <{/if}>
        </li>
    <{/foreach}>
    </ul>
    <{/if}>
</div>
<{else}>
<div class="content">
    <ul class="table-view">
        <{foreach from=$data_list item=item}>
        <li class="table-view-cell media">
            <a class="navigate-right" href="<{link app=couponactivity ctl=mobile_coupons args0=$item.activity_id}>">
                <div class="media-object pull-left" style="width: 50px;height: 50px;line-height: 50px;text-align: center;">
                    <img src="<{$item.image_id|storager:'s'}>" alt="<{$item.name}>" style="max-width: 100%;max-height: 100%;vertical-align: middle;">
                </div>
                <div class="media-body">
                    <h5 class="subject-title"><{$item.name}></h5>
                    <p><{$item.brief}></p>
                </div>
            </a>
        </li>
        <{/foreach}>
    </ul>
</div>
<{/if}>
<script type="text/javascript">
    $(function(){
        $('.coupons-achieve').on('click',function(e){
    		if(!$.cookie('UNAME') || !$.cookie('MEMBER_IDENT')){
        	   location.href = "<{link app=b2c ctl=mobile_passport act=login}>";
			   return;
        	}
            var url = $(this).attr('data-url');
            if( url ){
                var url = '<{$base_url}>/openapi/acpns/achieve/' + url;
                $.getJSON(url,function(re){
                    if( re.result == 'success' ){
                        alert('领取成功');
						location.reload();
                    }else if(re.msg){
                        alert("领取失败\n"+re.msg);
                    }else{
                        alert('请稍后重试');
                    }
                });
            }
        });
    });
</script>
