\#*
.*
!.gitignore
*.swp
*~
*.swo
$.swn
config/certi.php
config/config.php
config/install.lock.php
tmp/
logs/
data/cache
data/kvstore
data/misc
mobile_test_case
!/applications/vmcconnect/lib/logs/
/extends/