<!-- ############### 编辑区域 ############### -->
<!-- 滚动图片 -->
<template id="widget-child-setting-slider">
    <div class="view-item-setting" :id="widget.name + '_setting_' + index">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{widget.title}}
                <a type="button" class="icon icon-close pull-right" href="javascript:;" @click="closeEv"></a>
            </div>
            <div class="panel-body form-horizontal">
                <ul class="nav nav-tabs">
                    <li @click="viewStyle" :class="{'active': (active_tab == 'style')}">
                        <a :href="'#' + widget.name + '_style_' + index" data-toggle="tab">样式设置</a>
                    </li>
                    <li @click="viewCreate" :class="{'active': (active_tab == 'create')}">
                        <a :href="'#' + widget.name + '_create_' + index" data-toggle="tab">添加链接</a>
                    </li>
                    <li @click="viewList" :class="{'active': (active_tab == 'list')}">
                        <a :href="'#' + widget.name + '_list_' + index" data-toggle="tab">已加链接</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" :class="{'active': (active_tab == 'style')}" :id="widget.name + '_style_' + index">
                        <div class="form-group form-group-sm">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label :for="'indicator_dots_' + index">
                                        <input type="checkbox" :id="'indicator_dots_' + index" v-model="widget.data.indicator_dots" :checked="widget.data.indicator_dots"> 是否显示面板指示点
                                    </label>
                                    <label :for="'autoplay_' + index">
                                        <input type="checkbox" :id="'autoplay_' + index" v-model="widget.data.autoplay" :checked="widget.data.autoplay"> 是否自动切换
                                    </label>
                                    <label :for="'circular_' + index">
                                        <input type="checkbox" :id="'circular_' + index" v-model="widget.data.circular" :checked="widget.data.circular"> 是否采用衔接滑动
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label :for="'interval_' + index" class="col-sm-4 control-label">切换时间间隔</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" class="form-control" :id="'interval_' + index" placeholder="自动切换时间间隔" v-model="widget.data.interval" :value="widget.data.interval">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label :for="'duration_' + index" class="col-sm-4 control-label">滑动动画时长</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" class="form-control" :id="'duration_' + index" placeholder="滑动动画时长" v-model="widget.data.duration" :value="widget.data.duration">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label :for="'height_' + index" class="col-sm-4 control-label">高度</label>
                            <div class="col-sm-8">
                                <input type="number" min="0" class="form-control" :id="'height_' + index" placeholder="高度" v-model="widget.data.height" :value="widget.data.height">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" :class="{'active': (active_tab == 'create')}" :id="widget.name + '_create_' + index">
                        <div>
                            <design-setting-link :widget="widget" :index="index" :name="'create'" :ref="widget.name + '_link_create_' + index"></design-setting-link>
                            <div class="form-group form-group-sm">
                                <label>图片地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="图片地址" v-model.lazy="create.image.src">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-12">
                                    <div class="fileinput">
                                        <div v-if="create.image.src" class="thumbnail">
                                            <img :src="create.image.src">
                                            <div class="image-remove" @click="removeCreateUpimg">
                                                <i class="fa fa-trash-o text-danger delete-image"></i>
                                            </div>
                                        </div>
                                        <div class="upload-img-btn-box">
                                            <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png" class="form-control hidden" @change="onCreateFileChange" />
                                            <div class="text-danger">上传图片支持的文件类型[.gif, .jpg, .jpeg, .png]</div>
                                            <button type="button" class="btn btn-primary btn-sm btn-block" @click="selectCreateUpImg">选择图片</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label>图片缩放模式</label>
                                <div class="col-sm-8">
                                    <select class="form-control" :id="widget.name + '_limit_' + index" v-model="create.image.mode">
                                        <option v-for="(mode, mode_key) in modes_list" v-bind:value="mode_key">
                                            {{mode}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-success btn-xs" @click.stop="sliderAddEv">增加一项</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" :class="{'active': (active_tab == 'list')}" :id="widget.name + '_list_' + index">
                        <div class="list-group item-list-group-medias" v-if="widget.data.items.length > 0">
                            <a href="javascript:;" class="list-group-item" v-for="(item, item_key) in widget.data.items" :item="item" :key="item_key" @click="sliderEditEv(item_key, item)" :class="{'list-group-item-warning': (edit_item !== false && edit_item == item_key)}">
                                <span class="item-list-media">
                                    <img :src="item.image.src" :class="'item-image-mode-' + item.image.mode" />
                                </span>
                                <span class="item-list-action">
                                    <button type="button" class="btn btn-default btn-xs design-setting-btn" title="编辑此项"><i class="fa fa-cog"></i></button>
                                    <button type="button" class="btn btn-default btn-xs" title="删除此项" @click.stop="sliderDelEv(item_key)"><i class="fa fa-trash"></i></button>
                                </span>
                            </a>
                        </div>
                        <div class="list-group item-list-group-medias" v-else>
                            <a href="javascript:;" class="list-group-item" @click="viewCreate">
                                <span class="item-list-media">
                                    <img src="" onerror="this.src=placeholder.getData({text: 'Img', bgcolor: '#006bb8',  color: '#ffffff'})" />
                                </span>
                            </a>
                        </div>
                        <div v-show="(edit_item !== false)" style="margin-top: 20px;">
                            <design-setting-link :widget="widget" :index="index" :name="'edit'" :ref="widget.name + '_link_edit_' + index"></design-setting-link>
                            <div class="form-group form-group-sm">
                                <label>图片地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="图片地址" v-model.lazy="edit.image.src">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label>上传图片</label>
                                <div class="col-sm-8">
                                    <div class="fileinput">
                                        <div v-if="edit.image.src" class="thumbnail">
                                            <img :src="edit.image.src">
                                            <div class="image-remove" @click="removeEditUpimg">
                                                <i class="fa fa-trash-o text-danger delete-image"></i>
                                            </div>
                                        </div>
                                        <div class="upload-img-btn-box">
                                            <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png" class="form-control hidden" @change="onEditFileChange" />
                                            <div class="text-danger">上传图片支持的文件类型[.gif, .jpg, .jpeg, .png]</div>
                                            <button type="button" class="btn btn-primary btn-sm btn-block" @click="selectEditUpImg">选择图片</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label>缩放模式</label>
                                <div class="col-sm-8">
                                    <select class="form-control" :id="widget.name + '_limit_' + index" v-model="edit.image.mode">
                                        <option v-for="(mode, mode_key) in modes_list" v-bind:value="mode_key">
                                            {{mode}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-warning btn-xs" @click.stop="sliderItemCancelEv">取消编辑</button>
                                <button type="button" class="btn btn-success btn-xs" @click.stop="sliderItemEditEv">确认编辑</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="btn btn-primary btn-xs" @click="closeEv">关闭</button>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
// --------------------------- 滚动图片
// 移除项目
designStore.methods.sliderDelEv = function(vnode, item_index) {
    return this.itemDelEv(vnode, item_index);
};
// 编辑项目
designStore.methods.sliderItemEditEv = function(vnode, item_index, item) {
    return this.childItemEditEv(vnode, item_index, item);
};
// 新增项目
designStore.methods.sliderAddEv = function(vnode, item) {
    return this.itemAddEv(vnode, item);
};
var widget_child_setting_slider = Vue.extend({
    props: ['widget', 'index'],
    data: function() {
        return {
            active_tab: 'style',
            edit_item: false,
            edit: {
                url: null,
                image: {
                    src: null,
                    mode: 'widthFix'
                }
            },
            create: {
                url: null,
                image: {
                    src: null,
                    mode: 'widthFix'
                }
            },
            modes_list: {
                'scaleToFill': '缩放:不保持纵横比缩放图片',
                'aspectFit': '缩放:保持纵横比缩放图片,使图片的长边能完全显示出来',
                'aspectFill': '缩放:保持纵横比缩放图片，只保证图片的短边能完全显示出来',
                'widthFix': '缩放:宽度不变，高度自动变化，保持原图宽高比不变',
                'top': '裁剪:只显示图片的顶部区域',
                'bottom': '裁剪:只显示图片的底部区域',
                'center': '裁剪:只显示图片的中间区域',
                'left': '裁剪:只显示图片的左边区域',
                'right': '裁剪:只显示图片的右边区域',
                'top left': '裁剪:只显示图片的左上边区域',
                'top right': '裁剪:只显示图片的右上边区域',
                'bottom left': '裁剪:只显示图片的左下边区域',
                'bottom right': '裁剪:只显示图片的右下边区域'
            }
        };
    },
    template: '#widget-child-setting-slider',
    methods: {
        // 添加区域链接组件
        createLink: function() {
            var _k = this.widget.name + '_link_create_' + this.index;
            return this.$refs[_k];
        },
        // 编辑区域链接组件
        editLink: function() {
            var _k = this.widget.name + '_link_edit_' + this.index;
            return this.$refs[_k];
        },
        // 关闭
        closeEv: function() {
            this.sliderItemCancelEv();
            return designStore.methods.closeEv(this);
        },
        // 删除
        sliderDelEv: function(item_index) {
            this.sliderItemCancelEv();
            return designStore.methods.sliderDelEv(this, item_index);
        },
        // 编辑
        sliderEditEv: function(item_index, item) {
            this.edit_item = item_index;
            this.edit = designStore.clone(item);
            this.editLink().setUrl(this.edit.url);
        },
        // 取消编辑
        sliderItemCancelEv: function() {
            this.edit_item = false;
            this.edit = {
                url: null,
                image: {
                    src: null,
                    mode: 'widthFix'
                }
            };
            this.editLink().reinit();
        },
        // 提交编辑
        sliderItemEditEv: function() {
            var link = this.editLink().getUrl();
            if (!link) {
                return false;
            }
            this.edit.url = link.url;
            this.edit.openType = link.openType;
            if (!this.edit.url) {
                Messagebox.warning('请设置链接地址！');
                return false;
            }

            if (!this.edit.image.src) {
                Messagebox.warning('请输入图片地址！');
                return false;
            }
            if (!this.edit.image.mode) {
                Messagebox.warning('请选择图片缩放模式！');
                return false;
            }

            designStore.methods.sliderItemEditEv(this, this.edit_item, designStore.clone(this.edit));

            this.sliderItemCancelEv();
        },
        // 提交添加
        sliderAddEv: function() {
            var link = this.createLink().getUrl();
            if (!link) {
                return false;
            }
            this.create.url = link.url;
            this.create.openType = link.openType;
            if (!this.create.url) {
                Messagebox.warning('请设置链接地址！');
                return false;
            }

            if (!this.create.image.src) {
                Messagebox.warning('请输入图片地址！');
                return false;
            }
            if (!this.create.image.mode) {
                Messagebox.warning('请选择图片缩放模式！');
                return false;
            }
            designStore.methods.sliderAddEv(this, designStore.clone(this.create));
            this.create = {
                url: null,
                image: {
                    src: null,
                    mode: 'widthFix'
                }
            };
            this.active_tab = 'list';
            this.createLink().reinit();
        },

        // 查看样式设置
        viewStyle: function() {
            this.sliderItemCancelEv();
            this.active_tab = 'style';
        },
        // 查看添加
        viewCreate: function() {
            this.sliderItemCancelEv();
            this.active_tab = 'create';
        },
        // 查看列表
        viewList: function() {
            this.sliderItemCancelEv();
            this.active_tab = 'list';
        },
        // ----------- 上传图片
        // -------- 添加
        // 选择
        selectCreateUpImg: function(e) {
            designStore.methods.selectUpImg(e);
        },
        // 上传
        onCreateFileChange: function(e) {
            designStore.methods.onFileChange(e, this.onCreateUploadImg);
        },
        // 删除
        removeCreateUpimg: function() {
            var _t = this;
            designStore.methods.removeCreateUpimg(function() {
                _t.create.image.src = null;
            });
        },
        // 上传完成
        onCreateUploadImg: function(imgUrl) {
            if (!imgUrl) return;
            this.create.image.src = imgUrl;
        },
        // -------- 编辑
        // 选择
        selectEditUpImg: function(e) {
            designStore.methods.selectUpImg(e);
        },
        // 上传
        onEditFileChange: function(e) {
            designStore.methods.onFileChange(e, this.onEditUploadImg);
        },
        // 删除
        removeEditUpimg: function() {
            var _t = this;
            designStore.methods.removeCreateUpimg(function() {
                _t.edit.image.src = null;
            });
        },
        // 上传完成
        onEditUploadImg: function(imgUrl) {
            if (!imgUrl) return;
            this.edit.image.src = imgUrl;
        }
    }
});
</script>
