<!-- 智能橱窗 -->
<template id="widget-showcase">
    <div class="page-view" :class="{onSetting: widget.onSetting }" :id="widget.name + '_design_' + index">
        <design-action :widget="widget" :index="index"></design-action>
        <widget-child-setting-showcase :widget="widget" :index="index"></widget-child-setting-showcase>
        <widget-child-showcase :widget="widget" :index="index"></widget-child-showcase>
    </div>
</template>
<script type="text/javascript">
var widget_showcase = Vue.extend({
    props: ['widget', 'index'],
    template: '#widget-showcase',
    components: {
        'design-action': design_action,
        'widget-child-setting-showcase': widget_child_setting_showcase,
        'widget-child-showcase': widget_child_showcase
    }
});
</script>
