

<{assign var=current_media value=$detail.media}>
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">当前回复</h3>
</div>
<div class="panel-body">
<{switch from=$current_media.wtype}>
<{case value='text'}>
<p>
    <{$current_media.wcontent.text}>
</p>
<{case value='image'}>
<div class="media">
  <div class="media-left">
    <a href="<{$current_media.wcontent.PicUrl}>" target="_blank">
      <img width="100" class="media-object"  src="<{$current_media.wcontent.PicUrl}>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">纯图片回复</h4>
  </div>
</div>
<{case value='news'}>
<div class="media">
  <div class="media-left">
    <a href="<{$current_media.wcontent.Articles.item.Url}>" target="_blank">
      <img class="media-object" width=100  src="<{$current_media.wcontent.Articles.item.PicUrl}>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="<{$current_media.wcontent.Articles.item.Url}>"><{$current_media.wcontent.Articles.item.Title}></a></h4>
    <{$current_media.wcontent.Articles.item.Description}>
  </div>
</div>
<{case value='voice'}>
<div class="thumbnail">
    <div class="well well-xs text-center" style="margin:0;">
        <i class="icon-volume-2" style="font-size:32px"></i>
    </div>
    <div class="caption">
        <h5><{$current_media.wtitle}></h5>
        <small class="text-muted"><{$current_media.wcontent.update_time|cdate}></small>
    </div>
</div>
<{case value='video'}>
<div class="thumbnail">
    <div class="well well-xs text-center" style="margin:0;">
        <i class="icon-social-youtube" style="font-size:32px"></i>
    </div>
    <div class="caption">
        <h5><{$current_media.wcontent.Title}></h5>
        <small class="text-muted"><{$current_media.wcontent.update_time|cdate}></small>
        <p>
            <{$current_media.wcontent.Description}>
        </p>
    </div>
</div>
<{/switch}>
</div>
</div>
