
<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="<{$callback}>" method="post">
	<h3 class="form-title">登 录</h3>
	<{if $error_info}>
	<div class="alert alert-danger">
		<span>
			<{$error_info}>
		</span>
	</div>
	<{/if}>
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">用户名</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="uname"/>
	</div>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">密码</label>
		<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
	</div>
	<{if $show_varycode}>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">验证码</label>
		<input style="background:url(<{$desktop_url}>index.php?app=desktop&ctl=passport&act=gen_vcode&<{$smarty.now}>) no-repeat 95% 50%;" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="验证码" name="verifycode"/>
	</div>
	<{/if}>
	<div class="form-actions">
		<button type="submit" class="btn btn-success uppercase">登录</button>
		<label class="rememberme check">
		<input type="checkbox" name="remember" value="1"/>记忆登录状态 </label>
		<a href="javascript:;" id="forget-password" class="forget-password">忘记密码?</a>
	</div>
</form>
<!-- END LOGIN FORM -->
