<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
    <h3 class="modal-title">配置 VMCC<small>警报设置</small></h3>
</div>
<form method="post" action="index.php?app=vmcconnect&ctl=admin_setting&act=setting&p[0]=warning" id='pconf_form' calss="form">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">启用状态<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <{input type=bool name='warning_enable' value=$warning_enable_conf.warning_enable_enable|default:'true'}>
                            </div>
                        </div>
                        <div class="form-group" data-box="view" style="display: <{if $hook_conf.api_enable == 'false'}>none<{/if}>;">
                            <div class="form-group">
                                <label class="col-md-2 control-label">设置API<span class="required" aria-required="true">*</span></label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">预警设置<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-8">
                                    <{input type=text name='api_alert' placeholder='请求失败超过设置次数即进行预警' value=$warning_conf.api_alert }>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">通知设置<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-8">
                                    <{input type=text name='api_alert_phone' placeholder='预警通知下发短信号码' value=$warning_conf.api_alert_phone }>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">设置HOOK<span class="required" aria-required="true">*</span></label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">预警设置<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-8">
                                    <{input type=text name='hook_alert' placeholder='请求失败超过设置次数即进行警报' value=$warning_conf.hook_alert }>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">通知设置<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-8">
                                    <{input type=text name='hook_alert_phone' placeholder='预警通知下发短信号码' value=$warning_conf.hook_alert_phone }>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn blue">保存</button>
    </div>

</form>
<script type="text/javascript">
    $(function () {
        $("input[name='warning_enable']").click(function () {
            var _val = $(this).val();
            var _box = $("div[data-box='view']");
            if (_val == 'true') {
                _box.fadeIn('slow');
            } else {
                _box.fadeOut('slow');
            }
        });
    });
</script>