<h3 class="page-title">第三方信任登录管理</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.php?ctl=adminpanel">控制面板</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">第三方信任登录管理</a>
        </li>
    </ul>
</div>

<div class="row" id="pconfs_list">
    <div class="col-md-6 col-lg-4">
    </div>
    <div class="col-md-6 col-lg-4">
    </div>
    <div class="col-md-6 col-lg-4">
    </div>
</div>

        <div id="tmp_items">
            <{foreach from=$list item=pam}>
                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <{$pam.name}>
                                <small>
                                    <{$pam.version}>
                                </small>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <p>
                            [<{$pam.display_name|default:$pam.name}>]
                            <!-- <{$app.description}> -->
                        </p>
                        <div class="clearfix">
                            <div class="btn-group">
                                <!-- <{if $app.status=='true' }>
                                    <a href="javascript:;" class="btn green-stripe btn-default">
                                        <i class="fa fa-pause"></i> 停用
                                    </a>
                                    <{else}>
                                        <a href="javascript:;" class="btn red-stripe  btn-default">
                                            <i class="fa fa-play"></i> 启用
                                        </a>
                                        <{/if}> -->
                                            <a href="index.php?app=toauth&ctl=admin_setting&act=setting&p[0]=<{$pam.pam_class}>" data-target="#pconf_setting" data-toggle="modal" class="btn btn-default <{if $pam.status=='true'}>green-stripe<{else}>red-stripe<{/if}>">
                                                <i class="fa fa-cog"></i> 配置
                                            </a>
                            </div>
                        </div>

                    </div>
                </div>
                <{/foreach}>
        </div>


<div class="modal fade" id="pconf_setting" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
              <div class="modal-content">

              </div>
      </div>
</div>


<script charset="utf-8">
    ! function() {
        var adminpanel_cols = $('#pconfs_list > [class^="col-md"]');
        var loop_arr = [0, 1, 2];
        $.each($('#tmp_items > .portlet'), function(i, n) {
            var loop = loop_arr.shift();
            $(adminpanel_cols[loop]).append(n);
            loop_arr.push(loop);
        });
    }();
</script>
