<app>
    <name>供应商管理</name>
    <description>供应商管理,供应商代发货功能</description>
    <author>
        <name>辰商软件</name>
        <email>dev@vmcshop.com</email>
        <url>http://www.vmcshop.com</url>
    </author>
    <version>1.3</version>
    <license>http://www.vmcshop.com/license</license>
	<depends>
		<app>b2c</app>
	</depends>
</app>
