<div class="input-group" id="object_select_<{$domid}>">
    <div class="input-icon right">
        <i class="fa fa-times-circle text-success hide"></i>
        <input class="os-label form-control search-input" placeholder="请选择..." type="text" data-textcol="<{$textcol}>">
    </div>
    <{if $multiple == 'false' && $name && !$callback_func}>
        <input class="os-input" type="hidden" name="<{$name}>" value="">
    <{/if}>
    <span class="input-group-btn">
        <button type="button" class="btn default os-handle">
            <i class="fa  fa-list-alt"></i>
        </button>
    </span>

</div>
<div class="modal fade" id="object_select_modal_<{$domid}>" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
		        <h3 class="modal-title">请选择</h3>
            </div>
            <div class="modal-body">
                loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn blue btn-submit">确认</button>
            </div>
        </div>
    </div>
</div>
<script charset="utf-8">
    !function(){

        var os_btn = $('#object_select_<{$domid}>'),
        os_modal = $('#object_select_modal_<{$domid}>'),
        os_label = os_btn.find('.os-label'),
        os_modal_body = os_modal.find('.modal-body');

        os_modal_body.on('click','tbody tr',function(){
            $(this).find(':radio').prop('checked','checked').trigger('change');
            var checkbox = $(this).find(':checkbox');
            checkbox.prop('checked',!checkbox.is(':checked')).trigger('change');
        });
        os_modal_body.on('click','tbody tr :checkbox,tbody tr :radio',function(e){
			if(e)e.stopPropagation();
		});

        os_btn.find('.fa-times-circle').on('click',function(e){
            if(e)e.stopPropagation();
            os_label.val('');
            os_btn.find('input[type=hidden]').val('');
            $(this).addClass('hide');
        });

        os_modal.on('show.bs.modal',function(){
            
            os_modal.find('.modal-title').text(os_label.attr('placeholder')||'请选择');
            os_modal.appendTo('body');
        });
        os_modal.on('hidden.bs.modal',function(){
            os_modal.find('.modal-body').empty();
            os_modal.insertAfter(os_btn);
        });

        var remote_url = '<{link app=store ctl=admin_controller act=object_select}>&finder_mdl=<{$finder_mdl}>&multiple=<{$multiple}>';
        remote_url += '<{$base_filter}>';

        os_btn.on('click',function(e){
            if(e)e.stopPropagation();
            if(os_modal.find('.modal-body .finder-pager').length)
            return os_modal.modal('show');
            os_label.data('last_text',os_label.val()).val('加载中...');
            os_modal.find('.modal-body').load(remote_url,function(){
                os_label.val(os_label.data('last_text'));
                os_modal.modal('show');
            });
        });

        os_modal.find('.btn-submit').on('click',function(e){
            var checked = os_modal_body.find(':checked');
            if(!checked.length){
                return    Messagebox.warning('未选择任何数据项');
            }
            <{if $callback_func}>
                var callback_func = '<{$callback_func}>';
                if(callback_func in window)
                window[callback_func](checked.serializeArray());
            <{else}>
                if(os_btn.find('input[type=hidden]').length){
                    var textcol = checked.closest('tr').find('td[key="'+os_label.attr('data-textcol')+'"]');
                    if(textcol.length){
                        os_label.val(textcol.text());
                    }else{
                        os_label.val(checked.val());
                    }
                    os_btn.find('input[type=hidden]').val(checked.val());
                    os_btn.find('.fa-times-circle').removeClass('hide');
                }
            <{/if}>

            os_modal.modal('hide');
        });
    }();
</script>
