<{if $item_group}>
	<table class="table">
		<{foreach from=$item_group item=group key=key}>
			<{assign var=gimage value=$gimages.{$key}}>
			<{assign var=pcount value=count($group)}>
			<tr>
				<td width="20%" style="vertical-align:top;">
					<a href="javascript:;" class="pull-left"><img class="img-thumbnail" src="<{$gimage.image_default_id|storager:'s'}>"/></a>
				</td>
				<td>
					<h5><{$group.0.name}></h5>
					<table class="table table-hover table-striped">
						<{foreach from=$group item=item}>
							<tr data-goodsid="<{$item.goods_id}>" data-productid="<{$item.product_id}>">
								<td>
									<strong><{$item.spec_info}></strong>
									<ul class="list-inline">
										<li>货号：<span data-hightline="bn" class="text-muted"><{$item.bn}></span></li>
										<{if $item.barcode}>
										<li>条码：<span data-hightline="barcode" class="text-muted"><{$item.barcode}></span></li>
										<{/if}>
										<li>价格：<span class="text-muted"><{$item.price|cur}></span></li>
									</ul>
								</td>
								<td width="10%">
									<i class="fa fa-plus-circle text-success"></i>
								</td>
							</tr>
						<{/foreach}>
					</table>
				</td>
			</tr>
		<{/foreach}>
	</table>
	<script charset="utf-8">
		!function () {
			var tr = $('#product_filter').find('tr[data-goodsid]');
			if (tr.length == 1) {
				tr.click();
			}
		}();
	</script>
<{else}>
	<div class="alert alert-warning" id="empty_filter_warning">
		<{foreach from=$env.post.filter key=key item=item}>
		<h4>没有找到<strong class="fname"></strong>为 “<{$item}>”的货品</h4>
		<{/foreach}>
	</div>
	<script charset="utf-8">
		!function () {
			var el = $('#empty_filter_warning').find('strong.fname');
			el.text($('#product_filter').find('li.active a').text());
		}();

	</script>
<{/if}>
