<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
	<h4 class="modal-title">需配送</h4>
</div>
<div class="modal-body">
	<div class="delivery-list-body">
		<{if count((array)$member_addr_infos) > 0 && !$addr_info}>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4" style="line-height:46px;">
                        选择配送方式
                    </div>
                    <select class="col-xs-8 form-control input-lg" id="delivery_type" style="width:300px; float:right; margin-right:20px;">
                        <{foreach from=$dlytype item=dt}>
                        <option value="<{$dt.dt_id}>"><{$dt.dt_name}></option>
                        <{/foreach}>
                    </select>

                </div>
            </li>
            <{foreach from=$member_addr_infos item=member_addr_info}>
            <li class="list-group-item delivery-list" data-delivery_id="<{$member_addr_info.addr_id}>">
                <h4 class="list-group-item-heading">
                    <strong><{$member_addr_info.name}></strong>
                    <{if empty($member_addr_info.mobile) == false}>
                    <{$member_addr_info.mobile}>
                    <{elseif empty($member_addr_info.tel) == false}>
                    <{$member_addr_info.tel}>
                    <{else}>
                    无联系方式
                    <{/if}>
                </h4>
                <div class="row">
                    <p class="list-group-item-text  col-xs-9">
                        <{$member_addr_info.area|region}>
                        <{$member_addr_info.addr}>
                    </p>
                    <div class="col-xs-3 pull-right">
                        <button class="btn btn-default pull-right perfect-delivery-btn" data-delivery_id="<{$member_addr_info.addr_id}>" type="button">完善信息</button>
                    </div>
                </div>
            </li>
            <{/foreach}>
        </ul>
		<{/if}>
	</div>

	<div class="add-delivery-body<{if count($member_addr_infos) > 0 && !$addr_info}> hide<{/if}>">
		<form id="edit_delivery_form">
			<input name="maddr[addr_id]" type="hidden" value="<{$addr_info['addr_id']}>">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_name">姓名<em class="text-danger">*</em></label>
					<div class="col-xs-5">
						<input type="text" placeholder="收货人姓名" id="maddr_name" class="form-control" name="maddr[name]" value="<{$addr_info['name']}>" required="true">
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_mobile">手机<em class="text-danger">*</em></label>
					<div class="col-xs-5">
						<input type="text" placeholder="手机号码" id="maddr_mobile" class="form-control" name="maddr[mobile]" value="<{$addr_info['mobile']}>" required="true">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label">收货地区<em class="text-danger">*</em></label>
					<div class="col-xs-10">
						<div id="maddr_region" class="input-group region">
							<{input type=region name="maddr[area]" value=$addr_info['area']}>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_addr">收货地址<em class="text-danger">*</em></label>
					<div class="col-xs-10">
						<input type="text" placeholder="街道\门牌号码" id="maddr_addr" class="form-control" name="maddr[addr]" value="<{$addr_info['addr']}>" required="true">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_zip">邮编</label>
					<div class="col-xs-3">
						<input type="text" placeholder="邮政编码" id="maddr_zip" class="form-control input-sm" name="maddr[zip]" value="<{$addr_info['zip']}>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_tel">固话</label>
					<div class="col-xs-5">
						<input type="text" placeholder="固定电话" id="maddr_tel" class="form-control input-sm" name="maddr[tel]" value="<{$addr_info['tel']}>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="maddr_email">Email</label>
					<div class="col-xs-5">
						<input type="email" placeholder="填写此项可接收订单状态通知" id="maddr_email" class="form-control input-sm" name="maddr[email]" value="<{$addr_info['email']}>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 col-xs-offset-2 control-label" id="is_default_label" for="is_default">
						<input id="is_default" type="checkbox" value="true" name="maddr[is_default]"<{if $addr_info['is_default'] == 'true'}> checked<{/if}>> 默认收货地址
					</label>
				</div>
				<hr>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">

		<{if count($member_addr_infos) > 0 || !$addr_info}>
			<button class="btn btn-default btn-block" id="add_delivery_btn">新增收货人信息</button>
		<{else}>
			<button class="btn btn-default btn-block" id="add_delivery_btn">保存</button>
		<{/if}>

</div>
