    <h3 class="page-title">选择收银台<small class="hidden-xs">&nbsp;</small></h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="javascript:;">门店</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="index.php?app=store&ctl=admin_center&act=select">选择收银台</a>
            </li>
        </ul>
    </div>

    <div class="row" id="pconfs_list">
        <div class="col-md-4 col-lg-4">
        </div>
        <div class="col-md-4 col-lg-4">
        </div>
        <div class="col-md-4 col-lg-4">
        </div>
    </div>

    <div id="tmp_items">
        <{foreach from=$center_list item=centerInfo}>
        <div class="portlet light bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <{$centerInfo['center_name']}><small>[<{$centerInfo['center_bn']}>]</small>
                </div>
            </div>
            <div class="portlet-body">
                <p>
                    <{$centerInfo['center_address']}>
                </p>
                <div class="clearfix">

                        <a target="_blank" href="index.php?app=store&ctl=admin_center&act=checkstand&p[0]=<{$centerInfo['center_id']}>&singlepage=1" class="btn btn-block green select-center" >
                            <i class="fa fa-external-link"></i> 打开收银台
                        </a>

                </div>

            </div>
        </div>
        <{/foreach}>
    </div>
    <div class="col-md-12 text-right">
        <{pagers data=$pager}>
    </div>

    <script charset="utf-8">
        ! function() {
            var adminpanel_cols = $('#pconfs_list > [class^="col-md"]');
            var loop_arr = [0, 1, 2];
            $.each($('#tmp_items > .portlet'), function(i, n) {
                var loop = loop_arr.shift();
                $(adminpanel_cols[loop]).append(n);
                loop_arr.push(loop);
            });
        }();
    </script>
