<app>
    <name>用户认证系统</name>
    <description>Pluggable Authentication Modules</description>
    <author>
        <name>辰商软件</name>
        <email>dev@vmcshop.com</email>
        <url>http://www.vmcshop.com</url>
    </author>
    <version>1.1</version>
    <license>http://www.vmcshop.com/license</license>
    <depends>
        <app>dbeav</app>
    </depends>
</app>
