<h3>服务器</h3>

<table class="table">
    <{foreach from=$server item=item}>
    <tr>
        <th><{$item.name}></th>
    	<td><{$item.value}></td>
    </tr>
    <{/foreach}>
</table>

<h3>数据库</h3>

<table class="table">
<{foreach from=$db item=item key=key}>
<tr>
    <th><{$key}></th>
	<td><{$item}></td>
</tr>
<{/foreach}>
</table>

<h3>缓存系统</h3>
<table class="table">
        <{if $cache}>
             <tr><th><span class="opt">缓存类型</span></th><td><{$cache.name}></td></tr>
             <{if $cache.status}>
                 <{foreach from=$cache.status item=item key=key name="item"}>
                     <tr><th><span class="opt"><{$key}></span></th><td><{$item}></td></tr>
                 <{/foreach}>
             <{else}>
                 <tr><td colspan="2"><font color="red">无法查看状态</font></td></tr>
             <{/if}>
        <{else}>
             <tr><td><font color="red">没有开启</font></td></tr>
        <{/if}>
</table>
<h3>NOSQL系统</h3>
<table class="table">
		<{if $kvstore}>
		     <tr><th><span class="opt">缓存类型</span></th><td><{$kvstore.name}></td></tr>
		<{else}>
		     <tr><td colspan="2"><font color="red">没有开启</font></td></tr>
		<{/if}>
</table>
