<nav class="bar bar-standard bar-header-secondary">
  <div class="segmented-control">
    <a class="control-item active">活动预约</a>
    <a class="control-item">维修预约</a>
  </div>
</nav>
<div class="content">
    <div class="schedule-order-list">
        <{foreach from=$schedule_order_list item=oitem}>
        <{assign var=store value=$store_list[$oitem.store_id]}>
        <{assign var=subject value=$subject_list[$oitem.subject_id]}>
        <{assign var=schedule value=$schedule_list[$oitem.schedule_id]}>
        <{if !$store||!$subject||!$schedule}>
        <{continue;}>
        <{/if}>
        <div class="table-view">
            <div class="table-view-cell">
                    <h3 data-code="<{$subject.code}>"><{$subject.title}></h3>
                    <p>
                        <{$schedule.from_time|date_format:'%Y年%m月%d日，星期<span class="weekday">%w</span>，<span class="timeapm">%p</span> %R '}>
                    </p>
                    <a href="<{link app=experiencestore ctl=mobile_store act=detail args0=$store.id}>" class="text-primary" target="_blank">
                        <{$store.region|regionpart:'city'}>,<{$store.name}>
                    </a>
                    <{if $oitem.need_ticket=='true'}>
                    <div class="ticket-info">
                        <dl>
                            <dd>票券：<{$oitem.ticket_name}><br>
                                <!-- <small>
                                    <{$oitem.ticket_batch_no}>
                                </small> -->
                            </dd>
                            <dd>价格：<{$oitem.ticket_price|cur}></dd>
                            <dd><{if $oitem.ticket_price>$oitem.payed}>
                                <a target="_blank" class="btn btn-primary" href="<{link app=experiencestore ctl=mobile_activity act=order_success args0=$oitem.id}>">立即支付</a>
                                <{else}>已支付<{/if}>
                            </dd>
                        </dl>
                    </div>
                    <{/if}>
            </div>
            <div class="table-view-cell">
                <ul class="list-unstyled">
                    <li><a class="btn text-primary" href="<{link app=experiencestore ctl=mobile_customer act=edit_schedule args0=$oitem.id}>"><i class="glyphicon glyphicon-edit"></i> 更改预约</a></li>
                    <{if $oitem.payed>0}>
                    <{else}>
                    <li><a class="btn text-primary" href="<{link app=experiencestore ctl=mobile_customer act=cancel_order args0=$oitem.id}>"><i class="glyphicon glyphicon-trash"></i> 取消预约</a></li>
                    <{/if}>
                    <li><a class="btn text-primary" href="<{link app=experiencestore ctl=mobile_customer act=add_calendar args0=$schedule.id}>"><i class="glyphicon glyphicon-calendar"></i> 添加到日历</a></li>
                </ul>
            </div>
        </div>
        <{/foreach}>
    </div>
</div>

<script type="text/javascript">
    $('.weekday').each(function(idx,item){
        var weekday_map = ['日','一','二','三','四','五','六'];
        $(item).text(weekday_map[parseInt($(item).text())]);
    });
    $('.timeapm').each(function(idx,item){
        var timeapm_map = {
            'am':'上午',
            'pm':'下午'
        };
        $(item).text(timeapm_map[$(item).text().toLowerCase()]);
    });
</script>
