<p class="cloud-small cs-01"><img src="/themes/mobile/default/statics/activity/images/bg-cloud-s.png" /></p>
<section class="rule-title"><img src="/themes/mobile/default/statics/activity/images/balloon.png" /></section>
<section class="rule-text">
    <a data-close-btn="rule" class="close-btn" href="javascript:;"><img src="/themes/mobile/default/statics/activity/images/close.png" /></a>
    <h3><{$title}></h3>
    <div class="content-view">
        <p>
            开始时间：<{$data.from_time|cdate:'FDATE_STIME'}><br />
            截至时间：<{$data.to_time|cdate:'FDATE_STIME'}>
        </p>
        <p>活动规则：</p>
        <p>
            <{$data.description|nl2br}>
        </p>
    </div>
</section>
<p class="cloud-small cs-02"><img src="/themes/mobile/default/statics/activity/images/bg-cloud-s.png" /></p>
<p class="cloud-small cs-03"><img src="/themes/mobile/default/statics/activity/images/bg-cloud-s.png" /></p>
<p class="cloud-small cs-04"><img src="/themes/mobile/default/statics/activity/images/bg-cloud-s.png" /></p>