<div class="content">
    <form action="<{link app=ubalance ctl=mobile_balancepay act=do_payment}>" method="post" class="form-horizontal" id="ubalance_payform">
    <input type="hidden" name="bill_id" value="<{$bill_arr.bill_id}>">
    <div class="table-view">
        <div class="table-view-cell">
            订单号
            <span class="badge badge-inverted">
                <{$bill_arr.order_id}>
            </span>
        </div>
        <div class="table-view-cell">
            应付金额
            <span class="badge badge-inverted badge-negative">
                <{$bill_arr.money|cur}>
            </span>
        </div>
    </div>
    <div class="table-view">
        <div class="table-view-cell">
            可用<{$env.conf.ubalance.name}>
            <span class="badge badge-inverted">
                <{$account.ubalance|number_format:'3'}>
            </span>
        </div>
        <div class="table-view-cell">
            应扣<{$env.conf.ubalance.name}>
            <span class="badge badge-inverted badge-negative">
                <{$bill_arr.money*$env.conf.ubalance.exchange_ratio|number_format:'3'}>
            </span>
        </div>
    </div>
    <div class="content-padded">
        <{if $account.ubalance<$bill_arr.money*$env.conf.ubalance.exchange_ratio}>
        <div class="alert alert-warning">
            <p>
            <i class="fa fa-warning"></i> 账户<{$env.conf.ubalance.name}>不足。
            </p>
            <a href="<{link app=ubalance ctl=mobile_member act=recharge}>" class="btn btn-block btn-positive">立即充值</a>
            <a href="<{link app=b2c ctl=mobile_checkout act=payment args0=$bill_arr.order_id}>" class="btn btn-block">使用其他支付方式支付</a>
        </div>
        <{else}>
        <{if $env.conf.ubalance.larger_type == '1' && $env.conf.ubalance.larger_sum<=$bill_arr.money*$env.conf.ubalance.exchange_ratio}>
            <{if $member_mobile}>
            <input id="input_mobile" autocomplete="off" type="text" readonly="true" name="mobile" value="<{$member_mobile}>" class="form-control">
            <button type="button" class="btn btn-block btn-outlined get-vcode">获取验证码</button>
            <input type="text" name="vcode" disabled="disabled" class="hidden">
            <input type="text" autocomplete="off" required="true" name="vcode" class="form-control" id="input_vcode" placeholder="请输入获取的验证码">
            <{else}>
            <p>
                <span class="icon icon-info text-warning"></span>
                建议<a href="<{link app=b2c ctl=site_member act=securitycenter}>">绑定手机</a>,以保障账户支付安全
            </p>
            <{/if}>
        <{/if}>

        <button type="submit" class="btn btn-block btn-primary">确认支付</button>
        <a href="<{link app=b2c ctl=mobile_checkout act=payment args0=$bill_arr.order_id}>" class="btn btn-block btn-outlined">使用其他支付方式支付</a>

        <{/if}>
    </div>


    </form>
</div>




<script>

    void function(ubp_form){
        var alert_timer = 0;
        var _alert_error = function(msg){
            Messagebox('error',msg);
        };

        ubp_form.on('submit',function(e){
            e.stopPropagation();
            ubp_form.find('button[type=submit]').attr('disabled',true).text('正在提交');
            $.post(ubp_form.prop('action'),ubp_form.serialize(),function(re){
                if(re.error){
                    _alert_error(re.error);
                }
                if(re.success){
                    location = re.redirect;
                }
                ubp_form.find('button[type=submit]').removeAttr('disabled').text('确认支付');
            },'json');
            return false;
        });
        //获得短信验证码
        var _cutdown_sms = function(btn){
            btn.addClass('disabled');
            var cutdown = 120,btn_o_text = btn.text(),timer =
            setInterval((function(){
                btn.text((cutdown--)+'秒后可重试');
                if(cutdown<1){
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(),1000);
        };
        ubp_form.find('button.get-vcode').on('click',function(e){
            var btn = $(this);
            if(btn.hasClass('disabled'))return;
            btn.addClass('disabled');
            $.post('<{link app=b2c ctl=mobile_passport act=member_vcode}>',{account:$('#input_mobile').val()},function(re){
                if(re && re.error){
                    btn.removeClass('disabled');
                    _alert_error(re.error);
                }
                if(re && re.success){
                    _cutdown_sms(btn);
                }
            },'json');
        });
    }($('#ubalance_payform'));
</script>
