<style media="screen">
    .table tr{
        font-size: 14px;
    }
    #barcode_input_form .input-group input{
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
    .modal .modal-header .close{
        width: 50px;
        height: 40px;
        background-image: none!important;
        background: #e26a6a;
        font-size: 16px;
        opacity: 1;
        color:#fff;
        text-indent: 0;
        margin-top: -5px!important;
    }
    .page-header.navbar {
        padding: 0 10px;
    }
    .now-selected-store-info{
        margin-left: 100px;
        color: #cccccc;
    }
    .now-selected-store-info strong{
        float: left;
        height: 46px;
        line-height: 46px;
    }
    .now-selected-store-info span{
        float: left;
        height: 46px;
        line-height: 46px;
    }
    .page-content-wrapper .page-content {
        padding-top: 10px;
        padding-left: 10px;
    }

    .icon-btn {
        min-width: 55px;

    }
    /*.toast-top-right{
        top:20%;
        left:45%;
        width: auto;
    }*/
    .tiles .tile {
        width: 100px !important;
        height: 140px;
    }

    .tiles .tile.double {
        width: 210px !important;
    }

    /*优惠券模态框样式--start--*/
    #coupon_modal .coupon-list {
        margin-bottom: 5px;
        cursor: pointer;
    }

    #coupon_modal .coupon-list:after {
        margin: auto;
        width: 95%;
        border-bottom: 1px solid #cccccc;
    }

    #coupon_modal .coupon-list:hover {
        border: 1px solid red;
    }

    #coupon_modal .coupon-list:hover:after {
        border-bottom: none;
    }

    #coupon_modal .coupon-info {
        height: 30px;
        line-height: 30px;
    }

    #coupon_modal .coupon-info span {
        color: #999999;
    }

    #coupon_modal .coupon-date,
    #coupon_modal .coupon-desc {
        height: 25px;
        line-height: 25px;
        overflow: hidden;
    }

    #coupon_modal .coupon-desc {
        margin-bottom: 10px;
        color: #cccccc;
    }

    #coupon_modal .coupon-date span {
        padding: 0 12px;
    }

    #coupon_modal #add_coupon_btn {
        background: #eee;
    }

    #coupon_modal .modal-footer {
        padding-top: 0;
        border-top: none;
    }

    /*优惠券模态框样式--end--*/

    /*配送地址信息模态框样式--start--*/
    #delivery_modal .delivery-list {
        margin-bottom: 5px;
    }

    #delivery_modal .delivery-list:after {
        margin: auto;
        width: 95%;
        border-bottom: 1px solid #cccccc;
    }

    #delivery_modal .delivery-info {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }

    #delivery_modal .delivery-info span {
        padding-left: 20px;
    }

    #delivery_modal .delivery-info strong {
        padding-left: 20px;
    }

    #delivery_modal .delivery-idcard,
    #delivery_modal .delivery-desc {
        height: 35px;
        line-height: 35px;
        overflow: hidden;
    }

    #delivery_modal .delivery-desc {
        margin-bottom: 10px;
    }

    #delivery_modal .delivery-desc label {
        padding-left: 20px;
        height: 25px;
        line-height: 25px;
    }


    #delivery_modal #add_delivery_btn {
        background: #eee;
    }

    #delivery_modal .modal-footer {
        padding-top: 0;
        border-top: none;
    }

    #delivery_modal #is_default_label {
        text-align: left;
    }

    /*配送地址信息模态框样式--end--*/

    /*结算modal样式--end--*/
    .cash-btn .btn-block{
        height: 160px;
    }
    .cash-btn .btn-block> i:first-child{
        font-size: 60px;
    }
    .cash-btn .btn-block>div{
        margin-top: 40px;
        margin-bottom: 20px;
        color: #000;
        font-size: 16px;
        font-weight: 300;
    }
    #top_button{
        background-color: #c9302c;
    }
    #top_button:hover{
    background-color: #f05f2a;
    }
    .pay_info_item{
        color: red;
        text-shadow: 0px 0px 1px #c9302c;
        font-weight: 200;
        font-size: 1.5em
    }
</style>
