<script type="text/javascript">
// ----------------------- 相关数据、网址等
// 页面基础数据
var __PAGE_DATA_ = <{$data_json}>;
// 数据提交方式
var __PAGE_DATA_DRAFT_ = <{$draft}>;
// 获取产品数据
var __GALLERY_REMOTE_ = '<{$gallery_remote}>';
// 页面预览
var __PREVIEW_URL_ = '<{$preview_url}>';
// 上传文件
var __IMG_UPLOAD_URL_ = '<{$upload_url}>';
// 产品分类
var __CATEGORY_REMOTE_URL_ = '<{$category_remote}>';
// 产品分类路径
var __CATEGORY_PATH_REMOTE_URL_ = '<{$category_path_remote}>';
// 选择产品
var __PRODUCT_REMOTE_URL_ = '<{$product_remote}>';
// 获取产品信息
var __PRODUCT_ROW_REMOTE_URL_ = '<{$product_row_remote}>';

// 选择产品
var __PRODUCT_REMOTE_URL_ = '<{$product_remote}>';
// 获取产品信息
var __PRODUCT_ROW_REMOTE_URL_ = '<{$product_row_remote}>';


// 小程序页面
var __XCXPAGES_REMOTE_URL_ = '<{$xcxpages_remote}>';
// ---------------------------------------------
// -------
// 商品列表
var __GOODS_REMOTE_URL_ = '<{$goods_remote}>';
// 商品信息
var __GOODS_ROW_REMOTE_URL_ = '<{$goods_row_remote}>';
// -------
// 分类列表
var __CAT_REMOTE_URL_ = '<{$cat_remote}>';
// 分类信息
var __CAT_ROW_REMOTE_URL_ = '<{$cat_row_remote}>';
// -------
// 品牌列表
var __BRAND_REMOTE_URL_ = '<{$brand_remote}>';
// 品牌信息
var __BRAND_ROW_REMOTE_URL_ = '<{$brand_row_remote}>';
// -------
// 标签列表
var __TAG_REMOTE_URL_ = '<{$tag_remote}>';
// 标签信息
var __TAG_ROW_REMOTE_URL_ = '<{$tag_row_remote}>';
// -------
// 产品集合
var __GOODS_COLLECT_REMOTE_URL_ = '<{$goods_collect_remote}>';
// 产品集合信息
var __COLLECT_ROW_REMOTE_URL_ = '<{$collect_row_remote}>';

// 选择万能表单
var __UFORM_SELECT_REMOTE_URL_ = '<{$universalform_select_remote}>';
// 获取万能表单列表
var __UFORM_ROWS_REMOTE_URL_ = '<{$universalform_rows_remote}>';
// 获取万能表单信息
var __UFORM_REMOTE_URL_ = '<{$universalform_remote}>';
</script>