<div data-updatecontainer="true">
    <input type="hidden" name="page" value="<{$page}>">
    <div class="table-scrollable">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="sel-handle">
                    </th>
                    <th>
                        标签编号
                    </th>
                    <th>
                        标签名称
                    </th>
                </tr>
            </thead>
            <tbody>
                <{foreach from=$tag_list item=item}>
                <tr>
                    <td>
                        <input type="checkbox" name="tag_name[]" value="<{$item.tag_name}>">
                    </td>
                    <td>
                        <{$item.tag_id}>
                    </td>
                    <td>
                        <{$item.tag_name}>
                    </td>
                </tr>
                <{/foreach}>
            </tbody>
        </table>
    </div>
    <{pagers data=$pager}>
</div>