<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">订单信息</div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-4">订单创建日期:</div>
                    <div class="col-md-8 value"><{$order.createtime|cdate}></div>
                </div>
                <div class="row static-info">
                    <div class="col-md-4">订单总额:</div>
                    <div class="col-md-8 value">
                        <small>￥</small>
                        <{$order.finally_cart_amount+$order.memberlv_discount+$order.pmt_goods+$order.pmt_order|cur}>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-4">促销优惠额度:</div>
                    <div class="col-md-8 value">-
                        <small>￥</small>
                        <{$order.pmt_order|cur}>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-4">运费:</div>
                    <div class="col-md-8 value">
                        <small>￥</small>
                        <{$order.cost_freight|cur}>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-4">订单应付金额:</div>
                    <div class="col-md-8 value">
                        <small>￥</small>
                        <{$order.order_total|cur}>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="table-scrollable">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>分佣商品</th>
                    <th>货号</th>
                    <th>分佣金额</th>

                </tr>
                </thead>
                <tbody>
                <{foreach from=$orderlog_items item=item}>
                <tr>
                    <td><{$item.name}></td>
                    <td><{$item.bn}></td>
                    <td>￥<{$item.product_fund}></td>
                </tr>
                <{/foreach}>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">分佣流向</div>
            </div>
            <div class="portlet-body">
                <{foreach from=$orderlog_achieve item=item}>
                <div class="row static-info">
                    <div class="col-md-4">
                        <small>ID</small>
                        [<{$item.member_id}>]:
                    </div>
                    <div class="col-md-8 value">
                        <small>￥</small>
                        <{$item.achieve_fund}>
                    </div>
                </div>
                <{/foreach}>
                <div class="row static-info">
                    <div class="col-md-4">分佣总额:</div>
                    <div class="col-md-8 value">
                        <small>￥</small>
                        <{$orderlog.order_fund}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
