<!-- 搜索框 -->
<template id="widget-searchbar">
    <div class="page-view" :class="{onSetting: widget.onSetting }" :id="widget.name + '_design_' + index">
        <design-action :widget="widget" :index="index"></design-action>
        <widget-child-setting-searchbar :widget="widget" :index="index"></widget-child-setting-searchbar>
        <widget-child-searchbar :widget="widget" :index="index"></widget-child-searchbar>
    </div>
</template>
<script type="text/javascript">
var widget_searchbar = Vue.extend({
    props: ['widget', 'index'],
    template: '#widget-searchbar',
    components: {
        'design-action': design_action,
        'widget-child-setting-searchbar': widget_child_setting_searchbar,
        'widget-child-searchbar': widget_child_searchbar
    }
});
</script>
