<!-- 样式表 -->
<{include file="admin/checkstand/style.html"}>
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner clearfix">
        <form id="barcode_input_form" class="search-form search-form-expanded open" method="POST">
            <div class="input-group">
                <span class="input-group-btn">
				    <span class="btn"><i class="glyphicon glyphicon-barcode font-grey-cararra"></i></span>
				</span>
                <input class="form-control" autocomplete="off" id="order_barcode" name="barcode" data-placeholder="扫描或输入交易单号" type="text" placeholder="扫描或输入交易单号">
            </div>
        </form>

        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:;" onclick="location.href='index.php?app=store&ctl=admin_checkstand&act=single_index&store_id=<{$now_selected_store}>&singlepage=1'">
                        普通商品
                    </a>
                </li>

                <li  class="classic-menu-dropdown active">
                    <a href="javascript:;" onclick="location.href='index.php?app=store&ctl=admin_history&act=index&singlepage=1'">
                        <i class="fa fa-list"></i>历史订单<span class="selected">
					</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user visible-md visible-lg">
					<a class="dropdown-toggle full-screen-handle" href="javascript:;">
						<span class="username">全屏操作</span>
						<i class="fa fa-expand"></i>
						<i class="fa"></i>
					</a>
				</li>
                <li id="admin-toggle" class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle">
                        <i class="icon-user"></i><span class="username">&nbsp;<{$user.name}></span>
                    </a>
                </li>

                <li class="dropdown dropdown-user">
                    <a href="javascript:logout()" class="dropdown-toggle">
                        <span class="username">注销</span><i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <!-- END HEADER INNER -->
</div>
<div class="row pos-pane">
    <div class="col-xs-9">
        <div id="goods_list_panel">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="heading">
                    <th>#</th>
                    <th>名称</th>
                    <th>单价</th>
                    <th>购买数量</th>
                    <th>已发货数量</th>
                    <th>本次退货数量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-4" id="goods_list_btns">
                <div class="well well-sm">
                    <button class="icon-btn" data-act='p-prev'>
                        <i class="glyphicon glyphicon-arrow-up"></i>

                        <div>上页</div>
                    </button>
                    <button class="icon-btn" data-act='p-next'>
                        <i class="glyphicon glyphicon-arrow-down"></i>

                        <div>下页</div>
                    </button>
                    <button class="icon-btn" data-act='p-trash'>
                        <i class="glyphicon glyphicon-trash"></i>

                        <div>全部退货</div>
                    </button>
                </div>

            </div>
            <div class="col-xs-3">
                <div class="well  well-sm">
                    <button id="show_order_pmt" class="icon-btn disabled">
                        <i class="font-yellow glyphicon glyphicon-tags"></i>

                        <div>优惠明细</div>
                        <span class="badge badge-danger"></span>
                    </button>
                    <button id="show_order_payment" class="icon-btn disabled">
                        <i class="font-green glyphicon glyphicon-usd"></i>

                        <div>收款明细</div>
                        <span class="badge badge-danger"></span>
                    </button>
                </div>

            </div>
            <div class="col-xs-5">
                <div id="total_panel">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="text-right bg-grey-steel">数量</td>
                            <td class="text-left h4" data-bind="quantity">0</td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel">总额</td>
                            <td class="text-left" data-bind="all_total">0</td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel">会员折扣</td>
                            <td class="text-left font-red">- <strong data-bind="memberlv_discount">0</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel">促销优惠</td>
                            <td class="text-left font-red">-
                                <strong data-bind="pmt_total">0</strong></td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel">运费</td>
                            <td class="text-left font-green">+ <strong data-bind="cost_freight">0</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel">订单金额</td>
                            <td class="text-left h4">
                                ¥ <strong data-bind="order_total"> 0 </strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right bg-grey-steel h4">已收款</td>
                            <td class="text-left h4">
                                ¥<strong data-bind="payed"> 0
                            </strong>
                            </td>
                        </tr>
                        <tr class="hidden" id="nedd_refund">
                            <td class="text-right bg-grey-steel h3">应退款</td>
                            <td class="text-left font-red h3">
                                ¥ <strong data-bind="need_pay"> 0
                            </strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-3">
        <div class="tiles" id="main_actions">
            <div class="tile bg-blue-steel" id="goods_filter" data-act='order_filter'>
                <div class="tile-body">
                    <i class="icon-diamond"></i>
                </div>
                <div class="tile-object">

                    <div class="number">
                        订单查询
                    </div>
                </div>
            </div>
            <div class="tile bg-green-meadow" data-act='to_print'>
                <div class="tile-body">
                    <i class="fa fa-print"></i>
                </div>
                <div class="tile-object">

                    <div class="number">
                        补打小票
                    </div>
                </div>
            </div>

            <div class="tile bg-red-sunglo" data-act='reship'>
                <div class="tile-body">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="tile-object">

                    <div class="number">
                        订单退货
                    </div>
                </div>
            </div>
            <div class="tile bg-yellow-gold" data-act='refund'>
                <div class="tile-body">
                    <i class="icon-credit-card"></i>
                </div>
                <div class="tile-object">

                    <div class="number">
                        订单退款
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<!--所有交互模态框-->
<{include file="admin/history/modal.html"}>

<!--隐藏域-->
<form id="cart_form" class="hidden">
    <input type="hidden" name="order_id" value="0" id="order_id">
</form>
<iframe src="about:blank" id="print_iframe" class="hidden" name="print_iframe"></iframe>
<!-- begin chrome bridge -->
<input type="hidden" id="mscreen_url" value="<{$base_full_url}><{link app=store ctl=admin_checkstand act=mscreen }>&singlepage=1&store_id=<{$now_selected_store}>">
<textarea id="pointofsale_event_area" class="hidden"></textarea>
<script type="text/javascript">
    var customEvent = document.createEvent('Event');
    customEvent.initEvent('pointOfSale', true, true);

    function firePointOfSale(data) {
        var pea = document.getElementById('pointofsale_event_area');
        pea.innerText = data;
        pea.dispatchEvent(customEvent);
    }
</script>
<!-- end chrome bridge -->

<script charset="utf-8">
    var remote_url = '<{link app=desktop ctl=finder act=object_select}>&finder_mdl=store_mdl_storeorder&multiple=false';
    <{if $base_order_filter}>
    <{foreach from=$base_order_filter item=v key=k}>
        remote_url+="&filter[<{$k}>]=<{$v}>";
    <{/foreach}>
    <{/if}>

    var filter ={columns:'order_id-createtime-order_total-quantity-op_id',t_plimit:7};
    var time_filter,money_filter={};
    !function () {
        var auto_focus_timer = 0;
        $(document).ready(function(){
            clearTimeout(auto_focus_timer);
            if(!$('input:visible:not(#order_barcode),select:visible,textarea:visible').length){
                $("#order_barcode").trigger('focus').trigger('click').off('blur');
            }
            auto_focus_timer = setTimeout(arguments.callee,1000);
        });
        var obj_cart_form = $('#cart_form');
        var obj_barcode_input_form = $('#barcode_input_form');
        var obj_goods_list_panel = $('#goods_list_panel');
        var obj_goods_list_btns = $('#goods_list_btns');
        obj_barcode_input_form.on('keydown', '#order_barcode', function (e) {
            var _this = $(this);
            if (e.keyCode == 13) {
                //根据订单条码查询订单
                get_order_by_barcode();
            }
            function get_order_by_barcode() {
                var barcode = _this.val();
                var ajax_url = '<{link app=store ctl=admin_history act=get_order_by_barcode}>';
                var data = {
                    filter: {
                        order_id: barcode
                    }
                };

                _this.val('').prop('placeholder', '正在查询...');

                $.ajax({
                    url:ajax_url,
                    data:data,
                    type:'post',
                    dataType:'json',
                    async:false,
                    success:function(re){
                        console.info(re);

                        if ('error' in re) {

                            Messagebox.error(re.error, '失败');
                        } else if ('success' in re) {
                            //查询出商品
                            try {
                                $('.now-order-info').find('span').text(re.success.order_id);
                                $(".product-input").remove();
                                $('#order_id').val(re.success.order_id);
                                var goods_list = re.success.items;
                                goods_list_render(goods_list);

                            } catch (e) {
                                console.error(e);
                            }
                            //界面数据绑定
                            data_bind($('#total_panel'), re.success);
                            var current_select_pid = obj_goods_list_panel.find('tr[data-productid]:first').attr('data-productid');
                            if (current_select_pid) {
                                select_row(current_select_pid);
                            }
                            _this.prop('placeholder', _this.data('placeholder'));
                        }
                    }
                });
            }
        });

        var goods_list_render = function (goods_list) {
            //cleanup tbody
            var goods_list_panel = obj_goods_list_panel;
            var first_tbody = $(goods_list_panel.find('tbody:first'));
            var first_tbody_trs = first_tbody.find('tr');
            first_tbody.nextAll('tbody').remove();
            first_tbody.find('td').empty();
            first_tbody.find('td:first-child').html('&nbsp;');
            first_tbody_trs.removeClass('bg-grey-cascade').removeAttr('data-productid');

            if (!goods_list || !goods_list.length) {
                return;
            } else {
                var list_page = Math.ceil(goods_list.length / first_tbody_trs.length);
                while (--list_page) {
                    var next_tbody = first_tbody.clone();
                    $(goods_list_panel.find('table')).append(next_tbody);
                    $(next_tbody).addClass('hidden').find('td:first-child').html('&nbsp;');
                }
            }

            $.each(goods_list_panel.find('tbody tr'), function (index, item) {
                var tr = $(item);
                var product = goods_list[index];
                var len=goods_list.length;
                if(index+1>len){
                    return;
                }
                console.log(product);
                var row = [index + 1,
                    product.name + '&nbsp' + (product.spec_info || '')+"("+product.bn+")" ,
                    product.buy_price,
                    product.nums,
                    product.sendnum ,
                    0
                ];

                tr.attr('data-productid', product.product_id);
                tr.attr('data-itemid', product.item_id);
                $(tr.find('td')).each(function (index, td) {
                    $(td).html(row[index]);
                });

            });

        };

        var data_bind = function (scope, obj) {

            $.each($(scope).find('[data-bind]'), function (i, el) {
                var path = $(el).attr('data-bind'),
                        handler = $(el).attr('data-bind-handler'),
                        v = eval('obj["' + path.replace(/\//g, '"]["') + '"]');
                $(el).text(v);
            });
        };


        obj_goods_list_panel.on('click', 'tr[data-productid]', function (e) {
            select_row($(this));
        });

        obj_goods_list_btns.on('click', '.icon-btn', function () {
            var current_row = obj_goods_list_panel.find('tbody tr.bg-blue-chambray'),
                    product_id = current_row.attr('data-productid'),
                    current_tbody = current_row.closest('tbody'),
                    prev_tbody = $(current_tbody).prev('tbody'),
                    next_tbody = $(current_tbody).next('tbody');

            switch ($(this).attr('data-act')) {
                case 'p-prev':
                    if (prev_tbody.length) {
                        select_row(prev_tbody.find('tr:first'));
                    }
                    break;
                case 'p-next':
                    if (next_tbody.length) {
                        select_row(next_tbody.find('tr:first'));
                    }
                    break;
                case 'r-prev':
                    if (current_row.prev('tr').length) {
                        select_row(current_row.prev('tr'));
                    } else if (prev_tbody.length) {
                        select_row(prev_tbody.find('tr:last'));
                    }
                    break;
                case 'r-next':
                    if (current_row.next('tr').length && current_row.next('tr').attr('data-productid')) {
                        select_row(current_row.next('tr'));
                    } else if (next_tbody.length) {
                        select_row(next_tbody.find('tr:first'));
                    }
                    break;
                case 'p-trash':
                    obj_goods_list_panel.find('tbody tr[data-productid]').each(function(){
                        var product_id = $(this).attr('data-productid');
                        var item_id = $(this).attr('data-itemid');
                        var sni_val = $(this).children('td').eq(4).text();
                        sni_val = Number(sni_val);
                        var products_input = $('input[name="products[' + item_id + ']"');
                        if(products_input.length){
                            products_input.val(sni_val);
                        }else{
                            var obj_products_input = $('<input class="product-input" name="products[' + item_id + ']" type="hidden" value='+sni_val+'>');
                            obj_products_input.appendTo(obj_cart_form);
                        }
                        obj_goods_list_panel.find('tr[data-productid="'+product_id+'"]').children('td').eq(5).text(sni_val);

                    });

            }
        });


        /**
         * selectrow
         */
        var select_row = function (product_id) {
            obj_goods_list_panel.find('tbody tr').removeClass('bg-blue-chambray');
            if (typeof(product_id) == 'object') {
                product_id = $(product_id).attr('data-productid');
            }
            if (product_id) {
                obj_goods_list_panel.find('tbody tr[data-productid=' + product_id + ']').addClass('bg-blue-chambray');
            }

            goods_list_fix_page();
        };

        /**
         * 翻页逻辑
         */
        var goods_list_fix_page = function () {
            obj_goods_list_panel.find('tbody').addClass('hidden');
            obj_goods_list_panel.find('tbody tr.bg-blue-chambray').closest('tbody').removeClass('hidden');
        };



        obj_goods_list_panel.on('click', 'tr[data-productid]', function (e) {
            select_row($(this));
            var current_row = obj_goods_list_panel.find('tbody tr.bg-blue-chambray'),
                    product_id = current_row.attr('data-productid');
            if (product_id) {
                $('#item_edit_modal').modal({
                    remote: "index.php?app=store&ctl=admin_history&act=item_edit&product_id=" + product_id + "&current_count=" + current_row.find('td:nth-child(5)').text(),
                    show: true
                });
            }
        });

        //商品列表操作逻辑
        $('#item_edit_modal').on('loaded.bs.modal', function () {
            var themodal = $(this);
            var num_ipt_panel = themodal.find('.screen-num-ipt'),
                    sni = num_ipt_panel.find('input[type=text]'),
                    btns = num_ipt_panel.find('button'), start_ipt = true;
            sni[0].select();
            btns.on('click', function () {
                var val = $(this).attr('data-val');
                switch (val) {
                    case 'delete':
                        sni.val(sni.val().slice(0, -1));
                        break;
                    default:
                        if (sni.val() == '' && val == '0') {
                            return;
                        }
                        sni.val(start_ipt ? val : (sni.val() + val));
                        start_ipt = false;
                }
            });
            $(this).find('button.button-confirm').on('click', function () {
                var sni_val= Number(sni.val());
                var product_id = $(this).attr('data-productid');
                var item_id = obj_goods_list_panel.find('tr[data-productid="'+product_id+'"]').attr('data-itemid');
                var send_num = obj_goods_list_panel.find('tr[data-productid="'+product_id+'"]').children('td').eq(4).text();
                send_num = Number(send_num);
                if(send_num < sni_val ){
                    Messagebox.error('退货数量超出！');
                    return false;
                }
                var products_input = $('input[name="products[' + item_id + ']"');
                if(products_input.length){
                    products_input.val(sni_val);
                }else{
                    var obj_products_input = $('<input class="product-input" name="products[' + item_id + ']" type="hidden" value='+sni_val+'>');
                    obj_products_input.appendTo(obj_cart_form);
                }
                obj_goods_list_panel.find('tr[data-productid="'+product_id+'"]').children('td').eq(5).text(sni_val);
                themodal.modal('hide');
            });
        });

        $('#main_actions').on('click' ,'.tile[data-act="order_filter"]' ,function(e){
            var os_modal = $('#order_filter_modal');
            var filter_input ='';
            filter = $.extend(filter, time_filter ,money_filter);
            $.each(filter,function(name,value) {
                if(typeof(value) != 'object'){
                    filter_input +='<input type="hidden" name="'+name+'" value="'+value+'">';
                }
            });
            os_modal.find('.modal-body .body-list').load(remote_url,filter ,function(){
                os_modal.modal('show');
                $(filter_input).appendTo(os_modal.find('form'));
            });


        }).on('click' ,'.tile[data-act="to_print"]' ,function(){
            if($('#order_id').val() >0 ==false){
                Messagebox.error('未知订单');
                return false;
            }
            print_receipt($('#order_id').val());
        }).on('click' ,'.tile[data-act="reship"]' ,function(){
            if (!obj_cart_form.find('input[name^="product"]').length) {
                return Messagebox.warning('还未选择要退的货品！', '提示');
            }
            var show_reship_products = $("#show_reship_products_modal");
            var reship_nums = 0;
            var reship_html = "<tr><th>商品名称</th><th>本次退货数量</th></tr>";
            obj_cart_form.find('.product-input').each(function(){
                reship_nums +=Number($(this).val());
                var item_id= $(this).attr('name').match(/\[(\d+)\]/)[1];
                var product = obj_goods_list_panel.find("tr[data-itemid="+item_id+"]");
                reship_html += '<tr><td>'+product.find('td').eq(1).text()+'</td><td>'+product.find('td').eq(5).text()+'</td></tr>';
            });
            if(reship_nums ==0 ){
                return Messagebox.warning('还未选择要退的货品！', '提示');
            }
            show_reship_products.find('table').html(reship_html);
            show_reship_products.modal('show');
            show_reship_products.find('.modal-footer .button-reship').off('click').on('click',function(){
                show_reship_products.modal('hide');
                var cart_data = obj_cart_form.find('input').serializeArray();
                $.post('<{link app=store ctl=admin_history act=reship}>' ,cart_data ,function(re){
                    if(re.success){
                        Messagebox.success(re.success);
                        load_order_info($('#order_id').val());
                        $("#nedd_refund").removeClass('hidden').find('strong[data-bind="need_pay"]').text(re.refund_amount);
                    }else{
                        Messagebox.error(re.error);
                    }
                });
            });

        }).on('click' ,'.tile[data-act="refund"]' ,function(e){
            e.stopPropagation();
            if($('#order_id').val() >0 ==false){
                Messagebox.error('未知订单');
                return false;
            }
            var refund_modal = $('#refund_modal');
            //显示选择支付方式模态框
            refund_modal.modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            var refund_frame = $('#show_refund_modal');

            refund_modal.find('.modal-body').off('click').on('click','button[data-payappid]' ,function(){
                var data ={
                    'order_id':$('#order_id').val(),
                    'pay_app_id':$(this).attr('data-payappid')
                };
                refund_frame.find('.modal-content').load("<{link app=store ctl=admin_history act=show_refund_info}>",data ,function(){
                    refund_frame.modal('show');
                    refund_frame.on("shown.bs.modal", function() {
                        $(this).find('input[type="text"]').eq(0).focus();
                        refund_modal.modal('hide');
                        var themodal = $(this);
                        var num_ipt_panel = themodal.find('.screen-num-ipt'),
                                sni = num_ipt_panel.find('input[type=text]:focus'),
                                btns = num_ipt_panel.find('button[data-val]'), start_ipt = true;
                        if(btns){
                            sni[0].select();
                            btns.off('click').on('click', function () {
                                var val = $(this).attr('data-val');
                                switch (val) {
                                    case 'delete':
                                        sni.val(sni.val().slice(0, -1));
                                        break;
                                    default:
                                        if (sni.val() == '' && val == '0') {
                                            return;
                                        }
                                        sni.val(start_ipt ? val : (sni.val() + val));
                                        start_ipt = false;
                                }
                                sni.trigger('focus');
                                $(".refund-input").trigger('keyup');
                            });
                        }

                        //为二维码输入框绑定键盘事件, 点击回车就退款
                        refund_frame.find('.modal-body').off('keydown').on('keydown','input[type="text"]:last', function (e) {
                            if (e.keyCode == 13) {
                                do_refund();
                            }
                        }).off('keyup').on('keyup', '.refund-input', function () {
                            var refund_money = parseFloat($(this).val());
                            var need_pay_max = parseFloat($(this).attr('data-need_pay_max'));

                            if (/^\d+\.?\d*$/.test(refund_money) == false) {
                                $(this).val('').attr('placeholder', '请输入正确的收款金额');
                                return false;
                            }
                            if(refund_money > need_pay_max){
                                $(this).val(need_pay_max);
                                Messagebox.warning('退款金额超出');
                            }
                        })
                        refund_frame.find('.modal-footer').off('click').on('click' ,'#change_refund_method' ,function(){
                            //修改支付方式
                            refund_frame.modal('hide');
                            refund_modal.modal({
                                backdrop: 'static',
                                keyboard: false,
                                show: true
                            });
                        }).on('click' ,"#confirm_refund_btn",function(){
                            do_refund();
                        });

                        var do_refund = function(){
                            var refund_money = $('#refund_money_input').val();
                            var pay_app_id = $("#pay_app_input").val();
                            if (/^\d+\.?\d*$/.test(refund_money) == false || refund_money<=0) {
                                Messagebox.error('退款金额错误');
                            }
                            var data = {
                                'order_id' :$('#order_id').val(),
                                'money' : refund_money,
                                'pay_app_id' :pay_app_id
                            };
                            if(pay_app_id == 'paybycard'){
                                data['out_trade_no'] = $("#out_trade_no").val();
                            }
                            $.post('<{link app=store ctl=admin_history act=do_refund}>' ,data ,function(re){
                                if(re.success){
                                    Messagebox.success(re.success);
                                    $('#show_refund_modal').modal('hide');
                                }else{
                                    Messagebox.error(re.error);
                                }
                            });
                        }

                    });
                });
            });


        });

        var print_receipt= function (order_id) {
            var print_url = '<{link app=store ctl=admin_pay act=print_receipt}>';
            print_url += '&orderId=' + order_id + '&direct_printing=1&pages=1&singlepage=1';
            //加载打印
            $('#print_iframe').attr('src',print_url);
        };

        $('#show_order_payment').on('click',function(){
            if($('#order_id').val() >0 ==false){
                Messagebox.error('未知订单');
                return false;
            }
            var remote_url = "<{link app=store ctl=admin_history act=bill_list}>";
            $('#show_bills_modal').find('.modal-content').load(remote_url,{order_id:$('#order_id').val()} ,function(){
                $('#show_bills_modal').modal('show');
            });
        });
        $('#show_order_pmt').on('click',function(){
            if($('#order_id').val() >0 ==false){
                Messagebox.error('未知订单');
                return false;
            }
            var remote_url = "<{link app=store ctl=admin_history act=pmt_list}>";
            $('#show_pmt_modal').find('.modal-content').load(remote_url,{order_id:$('#order_id').val()} ,function(){
                $('#show_pmt_modal').modal('show');
            });
        });

        //当班报表
        $('#current_count').on('click' ,function(){
            $("#report_modal").modal('show');
        });
        $('#report_modal').on('click' , '.button-confirm' ,function(){
            $('#report_modal').find('form').submit();
        });
    }();

    /**
     * js精确加法计算
     *
     * @param arg1
     * @param arg2
     * @returns {number}
     */
    function floatAdd(arg1, arg2) {
        var r1, r2, m;
        try {
            r1 = arg1.toString().split(".")[1].length
        } catch (e) {
            r1 = 0
        }
        try {
            r2 = arg2.toString().split(".")[1].length
        } catch (e) {
            r2 = 0
        }
        m = Math.pow(10, Math.max(r1, r2));

        return (arg1 * m + arg2 * m) / m;
    }

    /**
     * js精确减法计算
     *
     * @param arg1
     * @param arg2
     * @returns {string}
     */
    function floatSub(arg1, arg2) {
        var r1, r2, m, n;
        try {
            r1 = arg1.toString().split(".")[1].length
        } catch (e) {
            r1 = 0
        }
        try {
            r2 = arg2.toString().split(".")[1].length
        } catch (e) {
            r2 = 0
        }
        m = Math.pow(10, Math.max(r1, r2));
        //动态控制精度长度
        n = (r1 >= r2) ? r1 : r2;

        return ((arg1 * m - arg2 * m) / m).toFixed(n);
    }

    /**
     * js精确乘法计算
     *
     * @param arg1
     * @param arg2
     * @returns {number}
     */
    function floatMul(arg1, arg2) {
        var m = 0, s1 = arg1.toString(), s2 = arg2.toString();
        try {
            m += s1.split(".")[1].length
        } catch (e) {
        }
        try {
            m += s2.split(".")[1].length
        } catch (e) {
        }

        return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
    }


    /**
     * js精确除法计算
     *
     * @param arg1
     * @param arg2
     * @returns {number}
     */
    function floatDiv(arg1, arg2) {
        var t1 = 0, t2 = 0, r1, r2;
        try {
            t1 = arg1.toString().split(".")[1].length
        } catch (e) {
        }
        try {
            t2 = arg2.toString().split(".")[1].length
        } catch (e) {
        }

        r1 = Number(arg1.toString().replace(".", ""));

        r2 = Number(arg2.toString().replace(".", ""));

        return (r1 / r2) * Math.pow(10, t2 - t1);
    }
</script>
<script>
    function logout(){
        $.get('index.php?ctl=passport&act=logout' ,function(re){
            if(re.success){
                window.location.href = re.redirect;
            }
        });
    }
</script>

<script charset="utf-8">
    /**
     * 时间对象的格式化;
     */
    Date.prototype._format = function(format) {
        /*
         * eg:format="yyyy-MM-dd hh:mm:ss";
         */
        var o = {
            "M+" : this.getMonth() + 1, // month
            "d+" : this.getDate(), // day
            "h+" : this.getHours(), // hour
            "m+" : this.getMinutes(), // minute
            "s+" : this.getSeconds(), // second
            "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter
            "S" : this.getMilliseconds()
            // millisecond
        }

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4
            - RegExp.$1.length));
        }

        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                        ? o[k]
                        : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };
    $('#order_filter_modal').on('click','button[data-drange].time-button',function(e){
        var params = $(this).attr('data-drange'),
                params = params.split('|'),
                from_ipt = $('input[name="'+params[0]+'"]'),
                to_ipt  = $('input[name="'+params[1]+'"]'),
                range = params[2];
        var from_time = new Date(new Date().getTime()+(range=='N'?10000:range)*1000*60*60*24)._format('yyyy-MM-dd hh:mm');
        var to_time = new Date()._format('yyyy-MM-dd hh:mm');
        from_ipt.val(from_time);
        to_ipt.val(to_time);
        time_filter = {
            'createtime|bthan':from_time,
            'createtime|sthan':to_time
        };
        load_orders();
    }).on('click','button[data-drange].money-button',function(e){
        var params = $(this).attr('data-drange'),
                params = params.split('|'),
                from_ipt = $('input[name="'+params[0]+'"]'),
                to_ipt  = $('input[name="'+params[1]+'"]'),
                range = params[2];
        var money = range.split('-');
        var from_money=money[0];
        var to_money = money[1];
        from_ipt.val(from_money);
        to_ipt.val(to_money);
        !isNaN(from_money) ?money_filter["order_total|bthan"] =from_money :delete(money_filter["order_total|bthan"]);
        !isNaN(to_money) ?money_filter["order_total|sthan"] =to_money :delete(money_filter["order_total|sthan"]);
        load_orders();
    }).on('click' ,'.body-list table tbody tr' ,function(){
        var order_id = $(this).attr('item-id');
        $('#order_filter_modal').modal('hide');
        load_order_info(order_id);
    });

    /**
     * 筛选订单列表
     * @param filter_extend
     */
    function load_orders(filter_extend){
        var os_modal = $('#order_filter_modal');
        filter = $.extend(filter, time_filter ,money_filter);
        if(typeof(filter_extend) == 'object'){
            filter = $.extend( filter ,filter_extend);
        }
        var filter_input ='';
        $.each(filter,function(name,value) {
            if(typeof(value) != 'object'){
                filter_input +='<input type="hidden" name="'+name+'" value="'+value+'">';
            }
        });

        os_modal.find('.modal-body .body-list').load(remote_url,filter ,function(){
            $(filter_input).appendTo(os_modal.find('form'));
        });
    }

    function load_order_info(order_id){
        var order_input = $('#order_barcode');
        order_input.val(order_id);
        var e = $.Event("keydown");//模拟一个键盘事件
        e.keyCode = 13;
        order_input.trigger(e);
    }
</script>
