<app>
    <name>积分抵扣</name>

    <description>会员积分抵扣应用,抵扣订单商品金额</description>
    <author>

        <name>辰商软件</name>

        <email>dev@vmcshop.com</email>

        <url>http://www.vmcshop.com</url>
    </author>
    <depends>
        <app>b2c</app>
    </depends>

    <version>1.0</version>
</app>
