<h3 class="page-title">
    编辑社区用户
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.php?app=community&ctl=admin_user&act=index">用户列表</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">编辑社区用户</a>
        </li>
    </ul>
</div>
<form method="post" class="form" action="index.php?app=community&ctl=admin_user&act=save">
		<{input type='hidden' name='user_id' value=$user.user_id}>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-2 control-label">用户等级
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-4">
                    <{input type="select" required="true" name="user_lv_id" rows=$user_lv_arr labelColumn='name' valueColumn='user_lv_id'}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">昵称

                </label>
                <div class="col-md-4">
                    <{input type="text" name="nickname" value=$user.nickname}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    签名
                </label>
                <div class="col-md-4">
                    <{input type="textarea" name="sign" value=$user.sign}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">备注
                </label>
                <div class="col-md-5">
                        <{input type="textarea" name="mark"  value=$user.mark}>
                </div>
            </div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset-2 col-md-9">
						<button type="submit" class="btn blue">保存</button>
						<a href="index.php?app=community&ctl=admin_user&act=index" class="btn default">返回</a>
					</div>
				</div>
			</div>
        </div>
    </div>
</form>
