<app>
  <name>微店</name>
  <description>微店铺模块,消费者可以开启自己微店铺，通过分享赢得订单分润</description>
  <author>
      <name>辰商软件</name>
      <email>dev@vmcshop.com</email>
      <url>http://www.vmcshop.com</url>
  </author>
  <version>1.0</version>
  <license>http://www.vmcshop.com/license</license>
  <depends>
      <app>b2c</app>
  </depends>
</app>
