<!-- ############### 已选组件 ############### -->
<!-- 已选组件 -->
<template id="design-list-item">
    <div href="javascript:;" class="list-group-item" :class="{'list-group-item-warning': widget.onSetting}" @click.stop="settingWidget">
        {{widget.title}}
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs" @click.stop="settingWidget"><i class="fa fa-cog"></i></button>
            <button type="button" class="btn btn-default btn-xs" @click.stop="deleteWidget"><i class="fa fa-trash"></i></button>
        </span>
    </div>
</template>
<template id="design-list">
    <div class="list-group" v-sortable="{group: {name: 'design-list',draggable: '.list-group-item', pull: false,put: ['widgets-list'], revertClone: false}, filter: '.pull-right', preventOnFilter: false, animation: 0, events: {onAdd: 'onDragAdd', onSort: 'onDragSort'}}">
        <div :is="'design-list-item'" :widget="widget" :index="index" v-for="(widget, index) in widgets"></div>
    </div>
</template>
<script type="text/javascript">
// 已选组件
var design_list_item = Vue.extend({
    props: ['widget', 'index'],
    template: '#design-list-item',
    methods: {
        deleteWidget: function() {
            return designStore.methods.deleteWidget(this);
        },
        settingWidget: function() {
            return designStore.methods.onSetting(this, true);
        }
    }
});

var design_list = Vue.extend({
    template: '#design-list',
    props: ['widgets'],
    components: {
        'design-list-item': design_list_item
    },
    methods: {
        onDragAdd: function(dragStore, evt, el, binding, vnode) {
            return designStore.methods.onDesignDragAdd(this);
        },
        onDragSort: function(dragStore, evt, el, binding, vnode) {
            return designStore.methods.onDesignDragEnd(this);
        }
    }
});

Vue.component('design-list', design_list);
</script>
