<app>
    <name>导入导出</name>

    <description>导入导出系统</description>

    <author>
        <name>辰商软件</name>
        <email>dev@vmcshop.com</email>
        <url>http://www.vmcshop.com</url>
    </author>

    <version>1.1</version>
    <license>http://www.vmcshop.com/license</license>

    <depends>
        <app>desktop</app>
    </depends>
</app>
