<tr>
    <td>
        <button onclick="$(this).closest('tr').remove();" type="button" class="btn btn-xs default"><i class="fa fa-trash-o"></i></button>
    </td>
    <td>
        <{input type="image" width=200 height=90 tag="广告图" name="data[pic][{$id}][id]"}>
    </td>
    <td>
    <input type="text" class="form-control" name="data[pic][<{$id}>][title]"/>
    </td>
    <td>
    <input type="text" class="form-control" name="data[pic][<{$id}>][link]"/>
    </td>
    <td>
    <a href="javascript:;" class="J-goprev">上移</a>
    <a href="javascript:;" class="J-next">下移</a>
    </td>
</tr>
