<app>
    <name>PC前端</name>
    <description>PC前端</description>
    <author>
        <name>辰商软件</name>
        <email>dev@vmcshop.com</email>
        <url>http://www.vmcshop.com</url>
    </author>
    <version>1.0</version>
    <license>http://www.vmcshop.com/license</license>
    <depends>
        <app>desktop</app>
        <app>image</app>
    </depends>
</app>
