<!-- ############### 编辑区域 ############### -->
<!-- 辅助线条 -->
<template id="widget-child-setting-linehelper">
    <div class="view-item-setting" :id="widget.name + '_setting_' + index">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{widget.title}}
                <a type="button" class="icon icon-close pull-right" href="javascript:;" @click="closeEv"></a>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label :for="widget.name + '_padding_' + index">
                                <input type="checkbox" :id="widget.name + '_padding_' + index" v-model="widget.data.padding" :checked="widget.data.padding"> 显示间距
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label :for="widget.name + '_line_color_' + index" class="col-sm-4 control-label">线条颜色</label>
                    <div class="col-sm-8">
                        <input type="color" class="form-control" :id="widget.name + '_line_color_' + index" placeholder="线条颜色" v-model="widget.data.line_color" :value="widget.data.line_color">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label :for="widget.name + '_type_' + index" class="col-sm-4 control-label">线条类型</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" :id="widget.name + '_type_' + index" placeholder="线条类型" v-model="widget.data.type" :value="widget.data.type">
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="btn btn-primary btn-xs" @click="closeEv">关闭</button>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
var widget_child_setting_linehelper = Vue.extend({
    props: ['widget', 'index'],
    template: '#widget-child-setting-linehelper',
    methods: {
        closeEv: function() {
            return designStore.methods.closeEv(this);
        }
    }
});
</script>
